# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Editors and OS
.idea
.DS_Store

/.git
/.github
/src
/node_modules

/.distignore
/.editorconfig
/.eslintrc
/.gitattributes
/.gitignore
/.plugin-data
/.stylelintrc
/composer.json
/composer.lock
/grumphp.yml
/package.json
/package-lock.json
/phpcs.xml
/psalm.xml
